<div class="row ">
	<div class="col-md-12">        
		<h1 class="mt2 mb2">Products - {{product.productsList.length}}</h1>	

				<div data-ng-repeat="item in product.productsList" class="col-md-12 product">
					<div class="container-fluid">
						<div class='row'>
							<div class="col-md-3 clrp">
								<h4 class="title">{{item.name}}</h4>
							</div>
							<div class="col-md-4 clrp">								
								<span class="mt1">${{item.price}}</span>							
							</div>
							<div class="col-md-4 clrp">
								<span><i class="fa fa-calendar-plus-o"></i> {{item.createdAt | dateFormat | date: "medium"}}</span>
								<span><i class="fa fa-calendar-check-o"></i> {{item.updatedAt | dateFormat | date: "medium"}}</span>
							</div>
							<div class="col-md-1 clrp">								
								<button data-ng-click="edit=!edit" class="btn">
									<i class="fa fa-pencil"></i>
								</button>	
								<button data-ng-click="product.removeProduct($index)" class="btn">
									<i class="fa fa-times"></i>
								</button>		
							</div>

							<div class="col-md-12 edit-block clrp" data-ng-show="edit">
								<form class="full center">
									<div class="form-group select">
										<input type="text" 
											data-ng-model="item.name" 
											data-ng-blur="product.editProduct($index,item)">
										<label for="customer-name">Name</label>
									</div>
									<div class="form-group select">
										<input type="text" 
											data-ng-model="item.price" 
											data-ng-blur="product.editProduct($index,item)">
										<label for="customer-name">Price</label>
									</div>									
									<button type="button" data-ng-click="edit=!edit" class="close"><i class="fa fa-times"></i></button>
								</form>		
							</div>

						</div>
					</div>	
				</div>

				<div class="col-md-12 mt3 center">
					<hr>
					<button type="button" class="btn mt3 mb3" data-ng-click="addNew=!addNew">Add product</button>
					<hr>
				</div>
			
				<div class="popup" data-ng-class="{'active': addNew}">
					<div class="popup-content">
						<form data-ng-submit="product.addProduct(item)" class="mt2 mb2">
							<h4 class="mb2">New product</h4>
							<div class="form-group">
								<input type="text" id="customer-name" data-ng-model="item.name"/>
								<label for="customer-name">Name</label>
							</div>				  

							<div class="form-group">
								<input type="text" id="customer-price" data-ng-model="item.price"/>
								<label for="customer-price">Price</label>
							</div>							

							<div class="button-wrap center">
								<button type="submit" class="btn" data-ng-click="addNew=!addNew">Save product</button>				
							</div>
						</form>
						<button data-ng-click="addNew=!addNew" class="fade-out">
							<i class="fa fa-times"></i>
						</button>					
					</div>
				</div>

	</div>
</div>